body{
    background-color: rgb(211, 141, 35);
}
/*NAV BAR~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {margin:0;}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: -46px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
/*WRAPPER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body{
    margin: 3%;
}
.sidebar{
    grid-area: sidebar;
    }
    .sidebar2{
        grid-area: sidebar2;
    }
    .content{
        grid-area: content;
    }
    .treeName{
        grid-area: treeName;
    }
    .photo{
        grid-area: photo;
    }
    
    .wrapper{
        display: grid;
        grid-gap: 1em;
        grid-template-areas: 
         "treeName"
         "sidebar"
         "content"
         "sidebar2"
         "photo"
    }
    @media only screen and (min-width: 100%) {
    .wrapper{
        grid-template-columns: auto auto;
        grid-template-areas: 
        "treeName   treeName"
        "sidebar    content"
        "sidebar2   sidebar2"
        "photo      photo";
    }
    }
    @media only screen and (min-width: 100%) {
        .wrapper{
            grid-gap: 2%;
            grid-template-columns: auto auto auto;
            grid-template-areas: 
            "treeName  treeName  treeName"
            "sidebar content sidebar2"
            "photo photo photo";
            max-width: auto;
        }
    }
.box{
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
}
.wrapper{
    background-color: rgb(211, 141, 35);
    color: #444;
}



.treeName{
    background-color: #1F2833;
    color: #66FCF1;
    margin-top: 15px;
    margin-bottom: -43px;
    text-align: center;
}
.sidebar, .content, .sidebar2{
    background-color: #1F2833;
    color: #45A293;
}
.sub_sidebar, .sub_content, .sub_sidebar2{
    background-color: #C5C6C7;
    color: #45A293;
}

.sub_sidebar h3, .sub_content h3, .sub_sidebar2 h3{
    color: rgb(30, 37, 100);
}
.sub_sidebar p, .sub_content p, .sub_sidebar2 p{
    color: rgba(31, 77, 116, 0.801);
}
